# Mailing list subscription
# ----------------------------------------------------------------------------------------------------
# MailChimp
# Get API Key: mailchimp admin dashboard > profile dropdown > account > extras dropdown > API keys
# Get Audience ID: mailchimp admin dashboard > audience > manage audience > settings > Unique id for audience xxx
# mailchimp:
#   api_key: your_api_key
#   audience_id: your_audience_id
